In [1]:
# Load data ke dalam data frame 
import pandas as pd

# spesifikasi encoding diperlukan karena data tidak menggunakan UTF-8
df = pd.read_csv('dataset-150 - buat yang manual.csv', encoding='latin-1') 

df.head()

   No                                        Data Ulasan Sentimen
0   1      it  beautiful package bintang buat safety nya  Positif
1   2                                tipe kulitku kering   Netral
2   3  pengiriman agak lama karena beda provinsi tapi...  Negatif
3   4                                                top  Positif
4   5  tipe kulitku berminyak tipe kulitku kering tip...  Positif

In [2]:
# Drop kolom pertama dengan fungsi iloc
df = df.drop(df.columns[0], axis=1)

# Cek data teratas
df.head()

                                         Data Ulasan Sentimen
0      it  beautiful package bintang buat safety nya  Positif
1                                tipe kulitku kering   Netral
2  pengiriman agak lama karena beda provinsi tapi...  Negatif
3                                                top  Positif
4  tipe kulitku berminyak tipe kulitku kering tip...  Positif

In [3]:
# Data untuk rename kolom v1 dan v2
new_cols = {
    'Data Ulasan' : 'Review'
}

# Rename nama kolom v1 dan v2
df = df.rename(columns=new_cols)

# Cek data teratas
df.head()

                                              Review Sentimen
0      it  beautiful package bintang buat safety nya  Positif
1                                tipe kulitku kering   Netral
2  pengiriman agak lama karena beda provinsi tapi...  Negatif
3                                                top  Positif
4  tipe kulitku berminyak tipe kulitku kering tip...  Positif

In [4]:
# Cek jumlah data per kelas
print(df['Sentimen'].value_counts())
print('\n')

# Cek kelengkapan data
print(df.info())
print('\n')

# Cek statistik deskriptif
print(df.describe())

Netral     72
Positif    55
Negatif    23
Name: Sentimen, dtype: int64


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review    150 non-null    object
 1   Sentimen  150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB
None


                                                   Review Sentimen
count                                                 150      150
unique                                                135        3
top     dari dulu selalu jadi langganan untuk solusi k...   Netral
freq                                                    2       72